SNOWFLAKE_USER=PYTHON_USER
SNOWFLAKE_PASSWORD=StrongPassword123!
SNOWFLAKE_ACCOUNT=abc-xy123
SNOWFLAKE_WAREHOUSE=PYTHON_WH
SNOWFLAKE_DATABASE=YOUR_DATABASE
SNOWFLAKE_SCHEMA=YOUR_SCHEMA
SNOWFLAKE_ROLE=PYTHON_ROLE
